*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navv{
  width: 100%;
 position:fixed;
  
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
 z-index: 2;
} 
#header1>ul{
     width: 100%; 
    display: flex;
     justify-content:right;
}
#header1{ 
     height: 25px;
  padding: 5px 30px;
}
#header2{
  padding: 10px 20px;
    display: flex;
   justify-content: space-between;
    margin: auto;
}
.menu,.search{
  width:35%;
    display: flex;
    justify-content: space-between;
}
#header2>div{
    align-items: center;
}

li{
    display: inline;
    padding: 0px 10px 0px 10px;
  }
  
  a { text-decoration: none;
   color:black;
  font-family:sans-serif ; }
  .logo>img{
    width: 130px;
    height: 38px;
  }
  .search img{
    width:34px;
    height: 30px;
  }
  .search{
    width:35%;
      display: flex;
      justify-content: space-between;
  }
  #search{
    width: 250px;
    height: 30px;
    border-radius: 10px;

  background-color: antiquewhite;
  }
 .slider1 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
     padding-top: 100px; 
}
.slider2 {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
  .swiper {
    width: 100%;
    height: fit-content;
  }
  .swiper-slide>img {
    width: 100%;
    height: fit-content;
  }
  .swiper-button-prev,.swiper-button-next{
    color: rgb(58, 58, 58);
  }
  #container{
    margin-top: 100px;
  }
  #para{
    padding-top: 100px;
  }
  #child{
  display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  #mid img{
    width: 100%;
  }
  #lower{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  #lower>div{
    width:100%;
  }
  #lower img{
    width:100%
  }
 img :hover{
   padding: 2px;
  }
  footer{
    background-color: #2C4152;
  }
  #first{
    display:flex;
    width: 90%;
    justify-content:space-between;
    margin: auto;
    padding: 50px;
 }
  p,h2{
    font-family: sans-serif;
    color: #ffffff;
  }
  #icon{
    display: flex;
    width:30%;
    gap: 50px;
    padding-top: 50px;
  }
  #icon>div{
    width:30%
  }
  #icon img{
    width:100%
  }
  #icon>div:nth-child(3)>img{
    padding-top: 30px;
  }
  
  
  
 
