*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#header1>ul{
    width: 100%;
    display: flex;
     justify-content:right;
}
#header1{
    border: 1px solid red;
    height:20px;
  
}
#header2{
    width:100%;
    display: flex;
   justify-content: space-between;
    margin: auto;
    border: 1px solid blue;
}
.menu,.search{
    display: flex;
    justify-content: space-between;
}
#header2>div{
    width:30%;
    border: 1px solid blue;
}
li{
    display: inline
  }
  
  a { text-decoration: none;
  /* color:white; */
  font-family:sans-serif ; }
  .logo>img{
    width: 130px;
    height: 38px;
  }
  .search img{
    width:34px;
    height: 30px;
  }
  input{
    width: 250px;
    height: 35px;
    border-radius: 15px;

  background-color: antiquewhite;
  }
 
